<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-top"></div>
    <div class="side-bot"></div>
  </div>
  <div class="main-bar">  
    <%= render "main_chat" %>
    <div class="main-top"></div>
    <div class="main-mid"></div>
    <div class="main-bot"></div>
  </div>  
</div>